<div style="font-size: 13px; margin: 10px 5px;">
   
    <table id="tb_1" class="table_a" border="1" width="100%" >
        <tbody>
            <tr style="font-weight: bold;">
                <td>角色ID</td>
                <td>权限名称</td>
                <td>控制器名</td>
                <td>方法名称</td>
                <td>所属分组</td>
                <td>全路径</td>
                <td>等级</td>
                <td  colspan="3">操作</td>
            </tr>
       <foreach name='authinfo' item='g'>
            <tr id="product_{$g['role_id']}">
                <td>{$g['auth_id']}</td>
                <td><?php echo str_repeat('---/',$g['auth_level']); ?><a href='javascript:;'>{$g['auth_name']}</a></td>                                    
                <td>{$g['auth_c']}</td>                                     
                <td>{$g['auth_a']}</td>                                     
                <td>{$g['auth_pid']}</td>                                     
                <td>{$g['auth_path']}</td>                                     
                <td>{$g['auth_level']}</td>                                     
                <td><a href="{:U('admin/role/distribute',array('role_id'=>$g['role_id']))}">修改</a></td>
                <td><a href="javascript:;" onclick="if(confirm('确认要删除此商品吗?')){del_goods({$g['goods_id']})};">删除</a></td>
            </tr>
        </foreach>
            
        </tbody>
    </table>
</div>
