
<div style="font-size: 13px; margin: 10px 5px;">
   
    <table id="tb_1" class="table_a" border="1" width="100%" >
        <tbody>
            <tr style="font-weight: bold;">
                <td>角色ID</td>
                <td>角色名称</td>
                <td>权限名称</td>
                <td  colspan="2">操作</td>
            </tr>
       <foreach name='info' item='g'>
            <tr id="product_{$g['role_id']}">
                <td>{$g['role_id']}</td>
                <td><a href="#">{$g['role_name']}</a></td>
                <td>{$g['role_auth_ids']}</td>                                     
                <td><a href="{:U('admin/role/distribute',array('role_id'=>$g['role_id']))}">分配权限</a></td>
                <td><a href="javascript:;" onclick="if(confirm('确认要删除此商品吗?')){del_goods({$g['goods_id']})};">删除</a></td>
            </tr>
        </foreach>
            <script>    
                        function del_goods(goods_id){
                                $.ajax({
                                      url:"{:U('delGoods')}",
                                      data:{'goods_id':goods_id}, 
                                      dataType:'json',                                                                  
                                      success:function(msg){
                                        if(msg.rs==1)
                                        {
                                            $('#product_'+goods_id).remove();
                                        }                               
                                      }
                                     
                              }); 
                        }
            </script>
            <tr>
                <td colspan="20" style="text-align: center">
                    {$pagelist}
                </td>
            </tr>
        </tbody>
    </table>
</div>
 